{% extends "appEx/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
  <p>Hi {{ name }}!</p>
  <p> Balance: {{balance}}</p>
  <div id="graph">

  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        data = JSON.parse('{{ send|escapejs  }}');
        let month=[["Date", "Asset"]];
        console.log(typeof data);
        for (let entry in data){
          month.push(data[entry]);
        }
        console.log(month);
        var data = google.visualization.arrayToDataTable(month);

        var options = {
            title: 'Assets',
            hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
            vAxis: {minValue: 0}
        };
        
        var chart = new google.visualization.AreaChart(document.getElementById('graph'));
        chart.draw(data, options);
    }
    
</script>

  <div class="fav">
    <h3><u>Favorites</u></h3>
    <ul>
      {% for item in favs %}
          <li>{{ item }}</li>
      {% endfor %}
      </ul>
  </div>
  <div class="invested">
    <h3><u>Invested</u></h3>
    <ul>
      {% for i in invest %}
          <li>{{ i }}</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}